# MinIO local development
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=change_me_minio_user
MINIO_SECRET_KEY=change_me_minio_password
MINIO_SECURE=false

# Airflow metadata database
AIRFLOW_DB_USER=airflow_local
AIRFLOW_DB_PASSWORD=change_me_airflow_db_password
AIRFLOW_DB_NAME=airflow

# Airflow local account and web session security
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me_airflow_admin_password
AIRFLOW_ADMIN_EMAIL=admin@example.local
AIRFLOW_WEBSERVER_SECRET_KEY=change_me_airflow_web_secret
AIRFLOW_FERNET_KEY=

# Snowflake Cloud
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=CRYPTO_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# CoinGecko
COINGECKO_API_KEY=
